.root {
     -fx-background-color:#666666;
 }
.send{
     -fx-background-color:#ffffcc;
}
.send:hover{
     -fx-background-color:#ccffff;
}
.send:pressed{
     -fx-background-color:#ffcccc;
}
.tool{
      -fx-background-color:#ccffcc;
 }
 .tool:hover{
      -fx-background-color:#99cccc;
 }
 .tool:pressed{
      -fx-background-color:#ffffcc;
 }
 .tip{
      -fx-background-color:#ccccff;
 }
 .tip:hover{
      -fx-background-color:#ffffcc;
 }
 .tip:pressed{
      -fx-background-color:#ccffff;
 }
 .switch{
      -fx-background-color:#99ccff;
 }
 .switch:hover{
      -fx-background-color:#ccffff;
 }
 .switch:pressed{
      -fx-background-color:#6699cc;
 }
 .api{
      -fx-background-color:#3399cc;
 }
 .api:hover{
      -fx-background-color:#003366;
 }
 .api:pressed{
      -fx-background-color:#cccccc;
 }
 .exit{
       -fx-background-color:#336699;
  }
  .exit:hover{
       -fx-background-color:#cccc99;
  }
  .exit:pressed{
       -fx-background-color:#003366;
  }
 .incoming-bubble {
      -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #23d0f3ff 0.0%, #d791f9ff 50.0%, #fe7b84ff 100.0%); /* Set the background color for incoming messages */
      -fx-padding: 8;
      -fx-border-radius: 10;
  }

  .outgoing-bubble {
      -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #8000fdff 0.0%, #e103faff 100.0%); /* Set the background color for outgoing messages */
      -fx-background-radius: 10;
      -fx-padding: 8;
      -fx-border-radius: 10;
  }
  .scroll-bar:vertical {
      -fx-background-color: transparent; /* Transparent background */
  }

  .scroll-bar:horizontal {
      -fx-background-color: transparent; /* Transparent background */
  }

  .scroll-bar:vertical .thumb {
      -fx-background-color: #6699cc; /* Color of the thumb */
      -fx-background-radius: 5;
  }
  .scroll-bar:horizontal .thumb {
      -fx-background-color: #6699cc; /* Color of the thumb */
      -fx-background-radius: 5;
  }

  .scroll-bar:vertical .track,
  .scroll-bar:horizontal .track {
      -fx-background-color: #e5e5e5; /* Color of the track */
  }

  .scroll-bar:vertical .increment-button,
  .scroll-bar:horizontal .increment-button,
  .scroll-bar:vertical .decrement-button,
  .scroll-bar:horizontal .decrement-button {
      -fx-background-color: transparent; /* Transparent background for arrow buttons */
 }